.navbar {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.home-logo{
  width: 35px;
  height: 35px;
  border-radius: 3px;
}

.car-img {
  max-width: 25vh;
  height: 30vh;
  object-fit: cover;
  border-radius: 2px;
  margin-bottom: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.hero-img {
  max-width: 25vh;
  height: 30vh;
  object-fit: cover;
  border-radius: 2px;
  margin-bottom: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h2 {
  font-size: 0.8rem;
}
